@model List<HOSPITAL2_LAB1.Model.Reservation>
@{
    ViewData["Title"] = "Appointments";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .thead-dark {
        background-color: #fbaed2;
        color: #fff;
    }

    .btn-pink-outline {
        background-color: transparent;
        border-color: #fbaed2;
        color: #fbaed2;
    }

    .btn-pink-fill {
        background-color: #fbaed2;
        border-color: #fbaed2;
        color: white;
    }

        .btn-pink-fill:hover {
            background-color: white;
            border-color: white;
            color: #fbaed2;
        }

    .btn-pink-outline:hover {
        background-color: #fbaed2;
        border-color: #fbaed2;
        color: white;
    }
</style>


<h1>Appointments</h1>
<hr/>



<form method="get" class="form-inline">
    <div class="form-group mr-3">
        <label class="mr-2" for="filterDoctor">Filter by Doctor:</label>
        <select class="form-control" name="filterDoctor">
            <option value="">All Doctors</option>
            @foreach (var doctor in ViewBag.Doctors)
            {
                <option value="@doctor.DoctorId">@doctor.Name @doctor.Surname</option>
            }
        </select>
    </div>

    <div class="form-group mr-3">
        <label class="mr-2" for="filterPatient">Filter by Patient:</label>
        <select class="form-control" name="filterPatient">
            <option value="">All Patients</option>
            @foreach (var patient in ViewBag.Patients)
            {
                <option value="@patient.PatientId">@patient.Name @patient.Surname</option>
            }
        </select>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Apply Filters</button>
</form>

<hr />

<table class="table table-bordered table-striped table-hover table-pink">
    <thead class="thead-dark">
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Patient</th>
            <th>Doctor</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var appointment in Model)
        {
            <tr>
                <td>@appointment.ReservationDate?.ToString("yyyy-MM-dd")</td>
                <td>@appointment.ReservationTime</td>
                <td>@appointment.PatientNavigation.Name @appointment.PatientNavigation.Surname</td>
                <td>@appointment.DoctorNavigation.Name @appointment.DoctorNavigation.Surname</td>
            </tr>
        }
    </tbody>
</table>
