@model HOSPITAL2_LAB1.Model.Reservation

@{
    ViewData["Title"] = "Earliest Appointment";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Earliest Appointment</h1>
<hr />

@if (Model != null)
{
    <div>
        <strong>Date:</strong> @Model.ReservationDate<br />
        <strong>Time:</strong> @Model.ReservationTime<br />
        <strong>Patient:</strong> @Model.PatientNavigation.Name @Model.PatientNavigation.Surname<br />
        <strong>Doctor:</strong> @Model.DoctorNavigation.Name @Model.DoctorNavigation.Surname<br />
        <strong>Service:</strong> @Model.ServiceNavigation.Name<br />
    </div>
}
else
{
    <p>No appointments found.</p>
}
