@model List<HOSPITAL2_LAB1.Model.Patient>
@{
    ViewData["Title"] = "Patients";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .table-blue {
        background-color: #eaf4fd;
    }

    .thead-dark {
        background-color: #343a40;
        color: #fff;
    }
</style>
<h1>Patients</h1>
<hr/>
<div class="row mt-4">
    <form method="get" action="@Url.Action("SearchPatients", "Administrators")">
        <div class="input-group mb-3">
            <input type="text" name="query" class="form-control" placeholder="Search by name or surname" aria-label="Search" aria-describedby="search-button">
            <button class="btn btn-primary" type="submit" id="search-button">Search</button>
        </div>
    </form>
</div>

<table class="table table-bordered table-striped table-hover table-blue">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Gender</th>
            <th>Birthday</th>
            <th>Address</th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var patient in Model)
        {
            <tr>
                <td>@patient.PatientId</td>
                <td>@patient.Name</td>
                <td>@patient.Surname</td>
                <td>@patient.Gender</td>
                <td>@patient.Birthday?.ToString("yyyy-MM-dd")</td>
                <td>@patient.Address</td>
                <td>@patient.Phone</td>
            </tr>
        }
    </tbody>
</table>
