@model List<HOSPITAL2_LAB1.Model.Patient>
@{
    ViewData["Title"] = "Patients";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .patient-container {
        border: 1px solid #0f5298;
        width: 300px; /* Fixed width for the square container */
        height: 300px; /* Fixed height for the square container */
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: linear-gradient(120deg,#f0f7ff, #77b5fe);
        transition: background-color 0.3s ease, transform 0.3s ease;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }

        .patient-container:hover {
            transform: scale(1.05);
            box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
        }
</style>
<h1>Patients</h1>
<hr />
<div class="row mt-4">
    <form method="get" action="@Url.Action("SearchPatients", "Administrators")">
        <div class="input-group mb-3">
            <input type="text" name="query" class="form-control" placeholder="Search by name and surname" aria-label="Search" aria-describedby="search-button">
            <button class="btn btn-primary" type="submit" id="search-button">Search</button>
        </div>
    </form>
</div>

<div class="container">
    <div class="row">
        @foreach (var patient in Model)
        {
            <div class="col-md-4">
                <div class="patient-container">
                    <h4>@patient.Name @patient.Surname</h4>
                    <p><strong>Gender:</strong> @patient.Gender</p>
                    <p><strong>Birthday:</strong> @patient.Birthday?.ToString("yyyy-MM-dd")</p>
                    <p><strong>Email:</strong> @patient.Email</p>
                    <p><strong>Phone:</strong> @patient.Phone</p>
                </div>
            </div>
        }
    </div>
</div>
