<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SunRiseCare HOSPITAL</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HOSPITAL2_LAB1.styles.css" asp-append-version="true" />
    <link rel="icon" href="~/images/logo-color.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anek+Gurmukhi&family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/Footer.css" />
    <style>
        #logo {
            transition: transform 0.3s ease;
            width: 160px;
        }
        .nav-item{
            margin-right: 20px;
            font-family: 'Anek Gurmukhi', sans-serif;
            font-size: 17px;
           
        }

        .nav-link:hover, .nav-link.active {
            color: #9abddc !important;
        }
        #home{
            margin-left:60px;
        }
        
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <img src="~/images/sunrisecare-hospital-low-resolution-logo-color-on-transparent-background.png" alt="" id="logo">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark @((ViewContext.RouteData.Values["Controller"] as string == "Home" && ViewContext.RouteData.Values["Action"] as string == "Index") ? "active" : "")" asp-area="" asp-controller="Home" asp-action="Index" id="home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark @((ViewContext.RouteData.Values["Controller"] as string == "Sherbimet" && ViewContext.RouteData.Values["Action"] as string == "Sherbimet") ? "active" : "")" asp-area="" asp-controller="Sherbimet" asp-action="Sherbimet">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark @((ViewContext.RouteData.Values["Controller"] as string == "AboutUs" && ViewContext.RouteData.Values["Action"] as string == "AboutUs") ? "active" : "")" asp-area="" asp-controller="AboutUs" asp-action="AboutUs">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark @((ViewContext.RouteData.Values["Controller"] as string == "Contact" && ViewContext.RouteData.Values["Action"] as string == "Contact") ? "active" : "")" asp-area="" asp-controller="Contact" asp-action="Contact">Contact</a>
                        </li>

                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-dark">
        <div class="container" style="padding:50px">
            <div class="row">
                <div class="col-md-6" style="margin-left:100px">
                    <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">Working Hours</h5>
                    <p style="line-height: 1.2;">Monday - Friday: 7AM - 12AM</p>
                    <p style="line-height: 1.2;">Saturday: 9AM - 22PM</p>
                    <p style="line-height: 1.2;">Sunday: 10AM - 20PM</p>
                </div>
                
                <div class="col-md-2 text-center"style="margin-left:200px">
                    <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">Register for free!</h5>
                    <a href="https://localhost:7232/Identity/Account/Register" class="btn btn-danger btn-rounded" style="color:white">Sign up!</a>
                </div>
                <div class="text-center" style="margin-left:520px;">

                    <ul id="footerul">
                        <a href="https://www.facebook.com/">
                            <li style="--i:#bf0000;--j:#800000;" class="footerli">
                                <span class="icon"><i class="fa fa-facebook"></i></span>
                                <span class="title">FACEBOOK</span>
                            </li>
                        </a>
                        <a href="https://www.instagram.com/">
                            <li style="--i:#bf0000;--j:#800000;" class="footerli">
                                <span class="icon"><i class="fa fa-instagram"></i></span>
                                <span class="title">INSTAGRAM</span>
                            </li>
                        </a>
                        <a href="https://www.gmail.com/">
                            <li style="--i:#bf0000;--j:#800000;" class="footerli">
                                <span class="icon"><i class="fa fa-envelope"></i></span>
                                <span class="title">mail</span>
                            </li>
                        </a>

                    </ul>
                </div>
            </div>
            <hr />
            <div class="footer-copy text-center">
                &copy; @(DateTime.Now.Year) SunriseCareHospital.com
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
