
@model List<HOSPITAL2_LAB1.Model.Reservation>
@{
    ViewData["Title"] = "Reservations";
    Layout = "~/Views/Shared/_PatientLayout.cshtml";
}
<style>
    .table-blue {
        background-color: #E1EBEE;
    }

    .thead-dark {
        background-color: #007FFF;
        color: #fff;
    }

  

</style>

<h1>Appointments</h1>
<hr />

<table class="table table-bordered table-striped table-hover table-blue">
    <thead class="thead-dark">
        <tr>
           
            <th>AppointmentDate</th>
            <th>AppointmentTime</th>
            <th>Doctor</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var reservation in Model)
        {
            <tr>
                <td>@reservation.ReservationDate?.ToString("yyyy-MM-dd")</td>
                <td>@reservation.ReservationTime</td>
                <td>@reservation.DoctorNavigation.Name @reservation.DoctorNavigation.Surname</td>
                <td>
                    <a href="@Url.Action("EditAppointment", "Patients", new { id = reservation.ReservationId })" class="btn btn-primary">Edit</a>
                    <a href="@Url.Action("DeleteAppointment", "Patients", new { id = reservation.ReservationId })" class="btn btn-danger">Delete</a>
                
                </td>
            </tr>
        }
    </tbody>
</table>

