@model HOSPITAL2_LAB1.Model.Patient

@{
    ViewData["Title"] = "Personal info";
    Layout = "~/Views/Shared/_PatientLayout.cshtml";
}
<style>
  
    .my-custom-dt {
        color: #007FFF;
        font-weight: bold;
       
      
    }

    .my-custom-dd {
        color: #012169;
        
    }
    .detail hr{
        color: #007FFF;
        
     }

    .my-custom-link {
        color: cornflowerblue;
        text-decoration:none;
        margin-top:50px;
        font-size:15px;
  
    }

    .detaje{
        background-color: #B0E0E6;
        margin-right:600px; 
        display:flex;
        align-items:center;
        justify-content:center;
        border-radius: 600px;

    }

    .row{
       
        margin-left:100px;
    }

    .detaje:hover{
        background-color: #AFEEEE;
    }
</style>
<h1>Personal info</h1>

<div class="detail">
    <hr />
    <div class="detaje">
    <dl class="row">
        <dt class="col-sm-2 my-custom-dt">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10 my-custom-dd ">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2 my-custom-dt">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class="col-sm-10 my-custom-dd">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class="col-sm-2 my-custom-dt">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class="col-sm-10 my-custom-dd">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class="col-sm-2 my-custom-dt">
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>
        <dd class="col-sm-10 my-custom-dd">
            @Html.DisplayFor(model => model.Birthday)
        </dd>
        <dt class="col-sm-2 my-custom-dt">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10 my-custom-dd ">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2 my-custom-dt">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-10 my-custom-dd">
            @Html.DisplayFor(model => model.Phone)
        </dd>
    
    </dl>
</div>
<div class="my-custom-div">
    <a asp-action="Index" class="my-custom-link">Back to Home</a>
</div>
</div>