@model List<HOSPITAL2_LAB1.Model.Report>
@{
    ViewData["Title"] = "Reports";
    Layout = "~/Views/Shared/_PatientLayout.cshtml";
}
<style>
    .accordion {
        display: none;
        padding: 10px;
        background-color: #f1f1f1;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }

    .accordion-button {
        cursor: pointer;
        background-color: #073980;
        color: #fff;
        border: none;
        text-align: left;
        width: 100%;
        padding: 10px;
    }
</style>
<h1>Raports</h1>
<hr />

@foreach (var report in Model)
{
    <div class="accordion-button" onclick="toggleAccordion(this)">
        @report.ReportType - @report.ReportDate?.ToString("yyyy-MM-dd")
    </div>
    <div class="accordion">
        <table class="table table-bordered table-striped table-hover table-blue">
            <thead class="thead-dark">
                <tr>
                    <th>AppointmentType</th>
                    <th>AppointmentDate</th>
                    <th>AppointmentDescription</th>
                    <th>Doctor</th>
                 
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@report.ReportType</td>
                    <td>@report.ReportDate?.ToString("yyyy-MM-dd")</td>
                    <td>@report.ReportDescription</td>
                    <td>@report.DoctorNavigation.Name @report.DoctorNavigation.Surname</td>
                 
                </tr>
            </tbody>
        </table>
    </div>
}

<script>
    function toggleAccordion(button) {
        var accordion = button.nextElementSibling;
        if (accordion.style.display === "block") {
            accordion.style.display = "none";
        } else {
            accordion.style.display = "block";
        }
    }
</script>
