@{
    ViewData["Title"] = "Home Page";
}



<div id="react-container"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/react/17.0.2/umd/react.development.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/17.0.2/umd/react-dom.development.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js"></script>

<script type="text/babel">
    class Index extends React.Component {
        render() {
            return (
                <div>
                    <style>
                    {`
                          html {
        overflow-x: hidden;
    }
                    .container{
                        max-width:100vw;
                    }
                      
                        body {
                            background-color: white;
                        }
                        video {
                            margin-top: -1%;
                            width: 100vw;
                            height: 50rem;
                            z-index: -1;
                            filter: brightness(60%);
                            opacity: 0.7;
                            object-fit: fill;
                            padding: 0px;
                            margin-left:-2%;
                        }

                        .home-container {
                            height: 100vh;
                            width: 100vw;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            object-fit:fill;
                        }
                        .home-container > h1{
                            margin-top:-420px;
                        }


                        #spanHome {
                            font-family: 'Bebas Neue', cursive;
                            font-size: 5rem;
                            color: white;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                            background-image: linear-gradient(rgb(175, 226, 243),rgb(175, 226, 243));
                            background-size: 100% 10px;
                            background-repeat: no-repeat;
                            background-position: 100% 0%;
                            transition: background-size .7s, background-position .5s ease-in-out;
                        }

                            #spanHome:hover {
                                background-size: 100% 100%;
                                background-position: 0% 100%;
                                transition: background-position .7s, background-size .5s ease-in-out;
                            }
                            .home-container > p{
                                font-size:27px;
                               color:white;
                               font-family:SansSerif;
                            }

                        .body-card {
                            position: absolute;
                            margin-top: 2.1%;
                            width:100vw;

                        }
                        .container-home {
                            display: flex;
                            flex-wrap: wrap;

                            overflow-y: hidden;
                        }

                        .card-home {
                            position: relative;
                            padding:0%;

                            width: 25vw;
                            height: 26vw;
                            transition: 0.3s ease-out;
                        }

                        .card-home .imgbox{
                            position:relative;
                            width:100%;
                            height:100%;
                        }
                        .card-home .imgbox img{
                            width:100%;
                            height:100%;
                            display:block;
                            transition:0.5s;
                        }
                            .card-home .content-home {
                                position: absolute;
                                bottom: 0;
                                width: 100%;
                                height: 80px;
                                padding: 12px;
                                background: rgb(175, 226, 243);
                                transition: all 0.5s cubic-bezier(.48, -0.28, 0.41, 1.4);
                                box-sizing: border-box;
                                overflow: hidden;
                                color: black;
                            }
                            .card-home:hover .content-home{
                                width:100%;
                                height:75%;
                                left:0;
                                bottom:0;
                                opacity:0.9;

                            }
                            .content-home p{
                                margin:10px 0 0;
                                padding: 1em 1em;
                                transform:translateY(2em);
                                line-height:1.3em;
                                transition:0.3s;
                                text-align:justify;

                            }
                        .card-home:hover .content-home p{
                            transform:translateY(0);

                        }

                        .content-home h2{
                            text-align:center;
                        }
                        .card-home:hover{
                            box-shadow: 0 0 5em rgba(0,0,0,0.4);
                        }

                        .all-buttons {
                            text-align: center;
                            margin-top: 450px;
                            margin-left: -10%;
                            width:100%;
                        }
                        .container-button {
                            width: 160px;
                            padding-top: 30px;
                            text-align: center;
                            text-transform: uppercase;
                            font-weight: 600;
                            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                            margin-inline-start:190px;

                            cursor: pointer;
                            display: inline-block;
                        }
                        import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
                        .button-1 {
                            padding-top:30px;
                            background-color: transparent;
                            border: 4px solid white;
                            color: navy;
                            transition:0.3s ease-out;
                            box-sizing:content-box;
                            height:60px;
                            width:230px;
                        }

                            .button-1:hover {
                                box-shadow:0 0 5em rgb(175, 226, 243);
                            }
                            iframe{
                                margin-bottom:300px;
                            }
                    `}
                    </style>
                    <div className='home-container'>
                      <video src="@Url.Content("~/images/videoHome.mp4")" autoPlay loop muted />
                      <h1><span id="spanHome">SunRiseCare Hospital</span></h1>
                      <p><strong>Welcome to our Hospital, where your health is our priority !</strong></p>
                    </div>
                    <div className='body-card'>
                        <div className='container-home'>
                            <div className='card-home'>
                              <div className='imgbox'>
                                  <img src="@Url.Content("~/images/laboratoret.jpg")"/>
                              </div>
                              <div className='content-home'>
                                  <h2>Laboratory</h2>
                                      <p>Our laboratory equipped with all equipment for biochemical analysis which enables you to perform all biochemical analyzes needed in one place.</p>
                              </div>
                            </div>
                            <div className='card-home'>
                                  <div className='imgbox'>
                                      <img src="@Url.Content("~/images/rezonance.jpg")" />
                                  </div>
                                  <div className='content-home'>
                                      <h2>Resonance</h2>
                                      <p>Full Body Health Checkup Using Quantum Resonance Magnetic Body Health Analyzer Machine to analyze your entire body</p>
                                  </div>
                            </div>
                            <div className='card-home'>
                                <div className='imgbox'>
                                   <img src="@Url.Content("~/images/dentistryy.jpg")" />
                                 </div>
                                 <div className='content-home'>
                                    <h2>Dental Care</h2>
                                     <p>Dental Care of SunRiseCare Hospital is your home for affordable dentistry and exceptional service in Prishtine, Kosove.</p>
                                  </div>
                            </div>
                            <div className='card-home'>
                                <div className='imgbox'>
                                    <img src="@Url.Content("~/images/oftamologu.jpg")" />
                                 </div>
                                <div className='content-home'>
                                    <h2>Ophthamology</h2>
                                     <p>The world's best association of eye physicians and surgeons, we advocate for patients and the public and set standards for ophthalmic education.</p>
                                </div>
                       </div>
                       </div>
              </div>
              <div className='all-buttons'>
              <div className='container-button'>
                      
              </div>
              <div className='container-button'>
                    
                  </div>
               <div className='container-button'>
                     
               </div>
                  <div className='container-button'>
                 
                  </div>
              </div>
              <hr></hr>
              <br></br>
              <center><h1>Where can you find us ?</h1></center>
              <br></br>
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2856.812469825241!2d21.143523503176603!3d42.65200171275375!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13549ef3f69baacb%3A0xf864a269cc75e908!2sDukagjini%20Residence!5e0!3m2!1sen!2s!4v1682282589650!5m2!1sen!2s"
                      width="100%"
                      height="450"
                      style={{ border: "0"}}
                      allowFullScreen=""
                      loading="lazy">
                  </iframe>

              </div>
              
            );
        }
    }

    ReactDOM.render(<Index />, document.getElementById('react-container'));
</script>
