@model List<HOSPITAL2_LAB1.Model.Reservation>
@{
    ViewData["Title"] = "Appointments";
    Layout = "~/Views/Shared/_DoctorLayout.cshtml";
}
<style>
    body {
        background: #d7dfe4;
    }

    .thead-dark {
        background-color: #7a99aa;
        color: #fff;

    }

</style>
<h1>Appointments</h1>
<hr />


<table class="table table-bordered table-striped table-hover table-blue">
    <thead class="thead-dark">
        <tr>
            <th>Reservation Date</th>
            <th>Reservation Time</th>
            <th>Patient</th>
            <th>Doctor</th>
            <th>Action</th>

        </tr>
    </thead>

    <tbody>
        @foreach (var reservation in Model)
        {
            <tr>
                <td>@reservation.ReservationDate?.ToString("yyyy-MM-dd")</td>
                <td>@reservation.ReservationTime</td>
                <td>@reservation.PatientNavigation.Name @reservation.PatientNavigation.Surname</td>
                <td>@reservation.DoctorNavigation.Name @reservation.DoctorNavigation.Surname</td>
                <td>
                    <input type="checkbox" class="reservation-checkbox" data-id="@reservation.ReservationId"> Done </input>

                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var checkboxes = document.querySelectorAll(".reservation-checkbox");

        checkboxes.forEach(function (checkbox) {
            checkbox.addEventListener("change", function () {
                var row = this.closest("tr");

                if (this.checked) {
                    // Handle marking as done (e.g., change the row's background color).
                    row.style.backgroundColor = "#b0e57c"; // You can use any color you prefer.
                } else {
                    // Handle unmarking as done (e.g., remove the background color).
                    row.style.backgroundColor = "";
                }
            });
        });
    });
</script>