@model List<HOSPITAL2_LAB1.Model.Payment>

@{
    ViewData["Title"] = "Patients";
    Layout = "~/Views/Shared/_ReceptionistLayout.cshtml";
}
<style>
    html {
        overflow-x: hidden;
    }

    .container {
        max-width: 100vw;
    }
    .card {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .card-image {
        flex: 1 0 auto;
        overflow: hidden;
    }

        .card-image img {
            width: 100%;
            height: 100%;   
            object-fit: cover;
        }

    #search-button{
        margin-right: 10%;
    }
</style>

<div id="main">
    <h1>Payments</h1>
    <div style="display:flex; justify-content:end; margin-top: -40px; margin-right:10%">
        <a href="@Url.Action("CreatePayment", "Receptionists")" class="btn btn-outline-primary">Register a Patient</a>
    </div>
    <div class="row mt-4">
        @if (Model.Count > 0)
        {
            @foreach (var payment in Model)
            {
                <div class="col-md-3 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@payment.PaymentAmount</h5>
                            <h5 class="card-title">@payment.PaymentDate</h5>
                            <p class="card-text">Room: @(payment.ReportNavigation != null ? payment.ReportNavigation.ReportType : "N/A")</p>
                            <p class="card-text">Email: @payment.Patient</p>
                            <div class="text-center">
                                <a href="@Url.Action("EditPayment", "Receptionists", new { id = payment.PaymentId })" class="btn btn-primary">Edit</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <p>No patients found.</p>
        }
    </div>
</div>
