@model List<HOSPITAL2_LAB1.Model.Doctor>

@{
    ViewData["Title"] = "About Us";
}



<div id="react-container"></div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/react/17.0.2/umd/react.development.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/17.0.2/umd/react-dom.development.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js"></script>




<link rel="stylesheet" href="~/css/AboutUs.css">

<script type="text/babel">
      
    
    class AboutUs extends React.Component {
        handleScroll1 = () => {
            const element = document.getElementById('main-content');
            element.scrollIntoView({ behavior: 'smooth' });
        };

            constructor(props) {
              super(props);
              this.state = {
                animateDoctorImage: false,
                animateStaffContainer: false,
              };
            }

            handleScroll = () => {
              const doctorImageElement = document.getElementById('doktoresha');
              if (doctorImageElement) {
                const rect = doctorImageElement.getBoundingClientRect();
                if (rect.top <= window.innerHeight && !this.state.animateDoctorImage) {
                  this.setState({ animateDoctorImage: true });
                }
              }

              const staffContainerElement = document.getElementById('staff-container');
              if (staffContainerElement) {
                const rect = staffContainerElement.getBoundingClientRect();
                if (rect.top <= window.innerHeight && !this.state.animateStaffContainer) {
                  this.setState({ animateStaffContainer: true });
                }
              }
            };

            componentDidMount() {
              window.addEventListener('scroll', this.handleScroll);
            }

            componentWillUnmount() {
              window.removeEventListener('scroll', this.handleScroll);
            }

        render() {
            const { animateDoctorImage, animateStaffContainer } = this.state;

            return (
               
                <div>

                    
                    <div className='aboutus'>
                        <video src="@Url.Content("~/images/Possible-3x1.mp4")" id='aboutusvid' autoPlay loop muted />
                        <h2 id='sunriseabout'>About SunRiseCare Hospital</h2>
                        <img id ='scrollimg' src="@Url.Content("~/images/white-arrow-down.gif")" alt='Scroll Down' onClick={this.handleScroll1} />
                    </div>
                    <div id = 'main-content'>
                        <div className='card-container'>
                            <div className='card-aboutus' style={{backgroundColor:'#769cbc', marginLeft:'3px',borderTopLeftRadius: '0px', borderTopRightRadius: '0px',width:'50%'}}>
                                <h2>Vision</h2><br></br>
                                <img src="@Url.Content("~/images/vision.png")"></img><br></br><br></br><br></br><br></br>
                                <h3>Të jete lider i padiskutueshem ne ofrimin e sherbimeve nga me imediatet deri ne ato me inovative e komplekse.</h3>
                            </div>
                            <div className='card-aboutus' style={{backgroundColor:'#628db2', marginLeft:'-20px',borderTopLeftRadius: '0px', borderTopRightRadius: '0px',width:'50%'}}>
                                <h2>Mission</h2><br></br>
                                <img src="@Url.Content("~/images/mission.png")"></img><br></br><br></br><br></br><br></br>
                                <h3>Ofrimi i një shërbimi gjithëpërfshirës në një mjedis ku inovacioni dhe edukimi i vazhdueshëm janë pjesë përbërëse e kujdesit; ku jemi krenar për t'u shërbyer pacientëve dhe njeri-tjetrit</h3>
                            </div>
                            <div className='card-aboutus' style={{backgroundColor:'#4f7fa9', marginLeft:'-20px',borderTopLeftRadius: '0px', borderTopRightRadius: '0px',width:'50%',marginRight:'2px'}}>
                                <h2>Values</h2><br></br>
                                <img src="@Url.Content("~/images/value.png")"></img><br></br><br></br><br></br><br></br>
                                <h3>Vlerat tona kryesore përfshijnë shërbimin, partneritetin, kujdesin dhe integritetin. Ne punojmë fort që të sigurojmë kujdes maksimal dhe të trajtojmë të gjithë pacientët më të njejtën siguri, dinjitet dhe respekt.</h3>
                            </div>
                        </div>
                        <div id='doctor'>
                            <h1>Pse te na zgjidhni neve?</h1>
                       
                           <img src="@Url.Content("~/images/doctor.jpg")" id="doktoresha" className="fade-left"></img>
                      
                          <div id='doctor-container'>
                              <div className='doctor-card'>
                                  <img src="@Url.Content("~/images/expertise.png")"></img><br></br><br></br>
                                   <h3>Ekspertiza jone</h3>
                              </div>
                              <div className='doctor-card'>
                                 <img src="@Url.Content("~/images/profit.png")"></img><br></br><br></br>
                                 <h3>Kujdesi cilësor me kosto efektive</h3>
                              </div>
                              <div className='doctor-card'>
                                 <img src="@Url.Content("~/images/idea.png")"></img><br></br><br></br>
                                    <h3>Inovacion me ndikim</h3>
                              </div>
                              <div className='doctor-card'>
                                  <img src="@Url.Content("~/images/medical.png")"></img><br></br><br></br>
                                  <h3>Ju jeni prioriteti jone</h3>
                              </div>

                          </div>
                     
                    </div>
                    <div className='gallery'>

                        <img src="@Url.Content("~/images/gallery.png")" id='background'></img>
                        <div className='gallery-img'>
                            
                                <img src="@Url.Content("~/images/gallery1.jpg")"></img>
                                <img src="@Url.Content("~/images/gallery2.jpg")"></img>
                                <img src="@Url.Content("~/images/gallery3.jpeg")"></img>
                            
                                <img src="@Url.Content("~/images/gallery4.jpg")"></img>
                                <img src="@Url.Content("~/images/gallery5.jpg")"></img>
                                <img src="@Url.Content("~/images/gallery6.jpg")"></img>
                           
                        </div>
                    </div>

                       <div id='staff-container'>
                            <br />
                            <h1>Our Team</h1>

                            <div class="row mt-4">
                                @if (Model.Count > 0)
                                {
                                    @foreach (var doctor in Model)
                                    {
                                         <div className='staff-row'>
                                              <div className='staff-image'>
                                                  <img src="~/images/@Url.Content(doctor.PhotoUrl)" className="card-img-top" alt="Doctor Image" />
                                              </div>
                                              <div className='staff-info'>
                                                    <h3>@doctor.FullName</h3>
                                                    <h5>Specialization: @doctor.SpecializationNavigation.Name</h5>
                                                     <p>Email: @doctor.Email</p>
                                              </div>
                                         </div>
                                    }
                                }
                                else
                                {
                                     <p>No doctors found.</p>
                                }
                            </div>
                         </div>



                 </div>
              </div>

            );
        }
    }

        ReactDOM.render(<AboutUs />, document.getElementById('react-container'));
</script>
